In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset.csv')

In [18]:
df

,hash,Name,Skills
0,0,Mohit Charkha,"['python', 'c++', 'c', 'css', 'html', 'microso..."
1,1,Geervani Reddy,"['python', 'mongodb', 'flask', 'frontend', 'c'..."
2,2,Mayur Gotmare,"['python', 'c#', 'machine learning', 'digital ..."
3,3,Rajesh Alane,"['vue.js', 'c++', 'mongodb', 'android developm..."
4,4,Krishna Purohit,"['spring mvc', 'aws', 'django', 'distributed s..."
...,...,...,...
624,624,Madhulika Jhawar,"['c', 'dsa', 'english', ' Engineering', ' Manu..."
625,625,Hrishikesh Shingate,"['AngularJS', 'bootstrap', 'html', 'ASP.NET', ..."
626,626,Kshitija Ladhe,"['Testing', ' Extract', ' Transform', ' Load (..."
627,627,Darshan Shah,"['Angular 10', 'angular.js', 'javascript', 'fr..."
628,628,Siddhika Gajare,"['Data Analysis', 'python', 'java', 'machine l..."

In [10]:
type(df['Skills'][0])

str

In [15]:
for line in df['Skills']:
    splitline = line.strip('][').split(',')
    print(splitline)
    for word in splitline:
        word = word.replace("'","").rstrip().lstrip().lower()
        print(word)
    break

["'python'", " 'c++'", " 'c'", " 'css'", " 'html'", " 'microsoft office'"]
python
c++
c
css
html
microsoft office

In [20]:
names = df['Name'].to_list()

In [23]:
Totalskills = []
for line in df['Skills']:
    splitline = line.strip('][').split(',')
#     print(splitline)
    skillsPerUser = []
    for word in splitline:
        word = word.replace("'","").rstrip().lstrip().lower()
        skillsPerUser.append(word)
    Totalskills.append(skillsPerUser)

In [25]:
print(f'Total users - {len(names)}, Total skills - {len(Totalskills)}')

Total users - 629, Total skills - 629

In [26]:
data = {
    'Name' : names,
    'Skills' : Totalskills
}

In [27]:
df2 = pd.DataFrame(data)

In [29]:
type(df2['Skills'][0])

list

In [30]:
df2

                    Name                                             Skills
0          Mohit Charkha      [python, c++, c, css, html, microsoft office]
1         Geervani Reddy  [python, mongodb, flask, frontend, c, java, fi...
2          Mayur Gotmare  [python, c#, machine learning, digital image p...
3           Rajesh Alane  [vue.js, c++, mongodb, android development, ja...
4        Krishna Purohit  [spring mvc, aws, django, distributed systems,...
..                   ...                                                ...
624     Madhulika Jhawar  [c, dsa, english, engineering, manual testing,...
625  Hrishikesh Shingate  [angularjs, bootstrap, html, asp.net, .net fra...
626       Kshitija Ladhe  [testing, extract, transform, load (etl), edh,...
627         Darshan Shah  [angular 10, angular.js, javascript, frontend,...
628      Siddhika Gajare  [data analysis, python, java, machine learning...

[629 rows x 2 columns]

In [31]:
df2.to_csv('Dataset.csv',index=False)