In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import joblib

In [3]:
df_user_2_skill = pd.read_csv('User_Skills.csv')
df_user_2_skill.head()

,Name,ccna,hbase,microsoft airsim,rest,product strategy,grafana,dance,marketing strategy,adobe after effects,...,innovation management,global operations,web application security,web design,solidworks,kali linux,apache hive,comedian,xctest,automation
0,Mohit Charkha,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Geervani Reddy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mayur Gotmare,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rajesh Alane,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Krishna Purohit,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
features = csr_matrix(df_user_2_skill.iloc[:,1:].values)
# print(features)

In [5]:
model_knn1 = NearestNeighbors(metric='cosine',n_neighbors=10, n_jobs=-1)

In [6]:
model_knn1.fit(features)

NearestNeighbors(metric='cosine', n_jobs=-1, n_neighbors=10)

## Enter target username here for user - skill recommendation

In [28]:
NamesOfUsers = df_user_2_skill['Name']
target_user = [df_user_2_skill[df_user_2_skill['Name'] == 'Atharva Parikh'].iloc[0,1:].values.astype(int)]
print(len(target_user))

1

In [11]:
similar_users = model_knn1.kneighbors(target_user,10,return_distance=False)[0]

In [12]:
for id in similar_users:
    print(NamesOfUsers[id])

Atharva Parikh
Sanket Deshmane
Kaustubh Karlekar
Purtika Bangad
Parag K.
Nilesh Jha
Ria M.
Aditya Jangid
Ruturaj Patole
Manasi Divekar

### Second Model

In [21]:
df_skill_2_domain = pd.read_csv('Skill_Domain.csv')
skill_domainMatrix = df_skill_2_domain.iloc[:,1:].values
print(skill_domainMatrix.shape)
print(target_user[0].shape)

(815, 53)
(815,)

In [30]:
target_user_domain = [np.dot(np.array(target_user[0]),skill_domainMatrix)]
target_user_domain

[array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 3, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0])]

In [34]:
df_user_2_domain = pd.read_csv('User_Domain.csv')
featureMatrix = csr_matrix(df_user_2_domain.iloc[:,1:].values)

In [35]:
model_knn2 = NearestNeighbors(metric='cosine',n_neighbors=10, n_jobs=-1)
model_knn2.fit(featureMatrix)

NearestNeighbors(metric='cosine', n_jobs=-1, n_neighbors=10)

In [36]:
similar_users2 = model_knn2.kneighbors(target_user_domain,10,return_distance=False)[0]
similar_users2

array([ 70, 513, 221, 278, 284,  13,  46, 582,  56, 360])

In [38]:
for id in similar_users2:
    print(NamesOfUsers[id])

Atharva Parikh
Anom Devgun
Roshan Wazare
Harshit Bhanushali
Apurva Kirdatt
Parag K.
Abhishek Khedekar
Pawan Chaudhari
Nirmiti Gawande
Nilesh Gopale

In [39]:
joblib.dump(model_knn1,'KNN_users_skill.pkl')
joblib.dump(model_knn2,'KNN_users_domain.pkl')

['KNN_users_domain.pkl']