In [1]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import joblib

In [2]:
df_user_2_skill = pd.read_csv('onehotencoding_User-Skills.csv')
df_user_2_skill.head()

,Name,ccna,hbase,microsoft airsim,rest,product strategy,grafana,dance,marketing strategy,adobe after effects,...,innovation management,global operations,web application security,web design,solidworks,kali linux,apache hive,comedian,xctest,automation
0,Mohit Loya,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Geervani Mehta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mayur Vaidya,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rajesh Chavan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Krishna Bhujbal,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
features = csr_matrix(df_user_2_skill.iloc[:,1:].values)
print(features)

  (0, 16)	1
  (0, 144)	1
  (0, 213)	1
  (0, 304)	1
  (0, 323)	1
  (0, 446)	1
  (0, 597)	1
  (0, 617)	1
  (0, 729)	1
  (0, 745)	1
  (0, 769)	1
  (1, 76)	1
  (1, 105)	1
  (1, 335)	1
  (1, 354)	1
  (1, 357)	1
  (1, 383)	1
  (1, 397)	1
  (1, 414)	1
  (1, 473)	1
  (1, 514)	1
  (1, 543)	1
  (1, 585)	1
  (1, 694)	1
  (1, 785)	1
  :	:
  (626, 715)	1
  (627, 2)	1
  (627, 8)	1
  (627, 55)	1
  (627, 71)	1
  (627, 91)	1
  (627, 125)	1
  (627, 175)	1
  (627, 212)	1
  (627, 215)	1
  (627, 479)	1
  (627, 509)	1
  (627, 595)	1
  (627, 644)	1
  (627, 703)	1
  (628, 35)	1
  (628, 89)	1
  (628, 91)	1
  (628, 235)	1
  (628, 313)	1
  (628, 394)	1
  (628, 475)	1
  (628, 552)	1
  (628, 572)	1
  (628, 783)	1