In [29]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import joblib

In [2]:
df_user_2_skill = pd.read_csv('onehotencoding_User-Skills.csv')
df_user_2_skill.head()

,Name,ccna,hbase,microsoft airsim,rest,product strategy,grafana,dance,marketing strategy,adobe after effects,...,innovation management,global operations,web application security,web design,solidworks,kali linux,apache hive,comedian,xctest,automation
0,Mohit Loya,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Geervani Mehta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mayur Vaidya,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rajesh Chavan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Krishna Bhujbal,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
features = csr_matrix(df_user_2_skill.iloc[:,1:].values)
print(features)

  (0, 16)	1
  (0, 144)	1
  (0, 213)	1
  (0, 304)	1
  (0, 323)	1
  (0, 446)	1
  (0, 597)	1
  (0, 617)	1
  (0, 729)	1
  (0, 745)	1
  (0, 769)	1
  (1, 76)	1
  (1, 105)	1
  (1, 335)	1
  (1, 354)	1
  (1, 357)	1
  (1, 383)	1
  (1, 397)	1
  (1, 414)	1
  (1, 473)	1
  (1, 514)	1
  (1, 543)	1
  (1, 585)	1
  (1, 694)	1
  (1, 785)	1
  :	:
  (626, 715)	1
  (627, 2)	1
  (627, 8)	1
  (627, 55)	1
  (627, 71)	1
  (627, 91)	1
  (627, 125)	1
  (627, 175)	1
  (627, 212)	1
  (627, 215)	1
  (627, 479)	1
  (627, 509)	1
  (627, 595)	1
  (627, 644)	1
  (627, 703)	1
  (628, 35)	1
  (628, 89)	1
  (628, 91)	1
  (628, 235)	1
  (628, 313)	1
  (628, 394)	1
  (628, 475)	1
  (628, 552)	1
  (628, 572)	1
  (628, 783)	1

In [5]:
model_knn1 = NearestNeighbors(metric='cosine',n_neighbors=10, n_jobs=-1)

In [6]:
model_knn1.fit(features)

NearestNeighbors(metric='cosine', n_jobs=-1, n_neighbors=10)

In [24]:
NamesOfUsers = df_user_2_skill['Name']
target_user = [df_user_2_skill[df_user_2_skill['Name'] == 'Mohit Loya'].iloc[0,1:].values.astype(int)]
print(len(target_user))

1

In [25]:
similar_users = model_knn1.kneighbors(target_user,10,return_distance=False)[0]

In [27]:
for id in similar_users:
    print(NamesOfUsers[id])

Mohit Loya
Aniruddha Sonje
Samarth Avhad
Purvi Gayake
Alisha Dhumale
Divyani Kulkarni
Ajinkya Patil
Diksha More
Belal Kulkarni
Neha Katkar

In [28]:
df_skill_2_domain = pd.read_csv('onehotencoding_Skill-Domain.csv')
df_skill_2_domain.head()

,Skillname,3D Modelling,AR,Arts,Automation,Backend,Blockchain,Business and Enterpreneurship,Business Intelligence,Competitive Programming,...,Software development,Software Engineering,Spoken Languages,Sports,Subject Knowledge,Testing/debugger,UI/UX,Web Crawling,Compiler Design,Research
0,ccna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,hbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,microsoft airsim,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,rest,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,product strategy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
#from user-skill data
matrix1 = np.array(df_user_2_skill.iloc[:,1:].values)
#from skill-domain data
matrix2 = np.array(df_skill_2_domain.iloc[:,1:].values)
print(f'matrix1 (users) -> rows = {len(matrix1)}, columns = {len(matrix1[0])}')
print(f'matrix2 (skills) -> rows = {len(matrix2)}, columns = {len(matrix2[0])}')

matrix1 (users) -> rows = 629, columns = 815
matrix2 (skills) -> rows = 815, columns = 53

In [37]:
# (629, 815) x (815, 53) -> (629, 53)
matrix3 = np.dot(matrix1,matrix2)

In [39]:
matrix3.shape

(629, 53)

In [43]:
UserDomainData = []
i=0
for row in matrix3:
    row = list(row)
    row.insert(0,NamesOfUsers[i])
    i+=1
    UserDomainData.append(row)

In [50]:
columns = []
columns.extend(df_skill_2_domain.columns[1:])
columns.insert(0,'Name')
print(len(columns))
df_user_2_domain = pd.DataFrame(UserDomainData,columns=columns)
df_user_2_domain.head()

54

,Name,3D Modelling,AR,Arts,Automation,Backend,Blockchain,Business and Enterpreneurship,Business Intelligence,Competitive Programming,...,Software development,Software Engineering,Spoken Languages,Sports,Subject Knowledge,Testing/debugger,UI/UX,Web Crawling,Compiler Design,Research
0,Mohit Loya,0,0,0,0,1,0,2,1,0,...,0,0,0,0,0,0,1,0,0,0
1,Geervani Mehta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mayur Vaidya,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rajesh Chavan,0,0,1,0,0,0,2,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Krishna Bhujbal,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df_user_2_domain.to_csv('onehotencoding_User-Domain.csv',index=False)

In [56]:
target_user_domain = np.dot(np.array(target_user),matrix2)

In [58]:
features2 = csr_matrix(matrix3)

In [59]:
model_knn2 = NearestNeighbors(metric='cosine',n_neighbors=10, n_jobs=-1)
model_knn2.fit(features2)

NearestNeighbors(metric='cosine', n_jobs=-1, n_neighbors=10)

In [60]:
similar_users2 = model_knn2.kneighbors(target_user_domain,10,return_distance=False)[0]
similar_users2

array([  0, 425, 436, 349, 455,  70, 173, 482, 259,   3])

In [61]:
for id in similar_users2:
    print(NamesOfUsers[id])

Mohit Loya
Aryan patel
Aniruddha Ghop
Shrikant BORSE
Aman ANAND
Atharva Kadam
Vedant Nadkarni
Mittali B.
Gokul Musale
Rajesh Chavan

In [62]:
joblib.dump(model_knn1,'KNN_users_skill.pkl')
joblib.dump(model_knn2,'KNN_users_domain.pkl')

['KNN_users_domain.pkl']