In [83]:
import pandas as pd

In [84]:
df = pd.read_csv('mapping.csv',header=None)
df.columns = ['Domain','Skills']
df.head()

         Domain                                             Skills
0  3D Modelling  CAD Software, Abaqus, AutoCad, autodesk tinker...
1            AR                            C++, autodesk tinkercad
2          Arts  Guitar, Acting, Singing, composing, Sketching,...
3    Automation  Ansible, Appium, Autosys, Bamboo, JScript, jen...
4       Backend  XML, REST API, Sails.js, TypeScript, Express.j...

In [85]:
mappingDict = {}
Domains = df['Domain'].values
Skills = df['Skills'].values
# for domain in Domains:
# print(Skills)
# print(Domains)
for i in range(len(Domains)):
    mappingDict[Domains[i]] = list(map(lambda x:x.strip(), Skills[i].split(',')))
    # print(list(map(lambda x:x.strip(), Skills[i].split(','))))

In [86]:
mappingDict['Software development']

['.NET',
 'Unity',
 'Java',
 'Eclipse IDE',
 'Application Development',
 'Visual Studio',
 'Go',
 'Debugging',
 'IntelliJ IDEA',
 'C#',
 'Groovy',
 'F#',
 'Ruby',
 'haskell',
 'Julia',
 'JavaBeans',
 'Java Swing',
 'Desktop Application Development',
 'Python',
 'JavaSE',
 'Information Technology Support Specialist',
 'J2EE Application Development',
 'Visual Basic',
 'Maven',
 'Microsoft Visual Studio Code',
 'MikroC',
 'Mockito',
 'MPLAB',
 'Mule ESB',
 'Mulesoft',
 'MuleSoft Anypoint Platform',
 'MuleSoft CloudHub',
 'NetBeans',
 'Tomcat',
 'Standard Widget Toolkit (SWT)',
 'Open Source Software',
 'PhpMyAdmin',
 'Spring',
 'Solr',
 'Scala',
 'PHPStorm',
 'PHPUnit',
 'Postman',
 'PowerBuilder',
 'Programming Languages',
 'Pycharm',
 'PySpark',
 'RabbitMQ',
 'research',
 '.net framework',
 'xcode',
 'turboc++',
 'requirement analysis',
 'programming',
 'go (programming language)',
 'microsoft visual studio code',
 'java swing']

In [82]:
import json

In [ ]:
# file = open('mapping.json','r')
# # print(file)
# mapDict = json.load(file)
# print(mapDict)

In [13]:
file2 = open('names.txt','r')
namesList = file2.read()
# print(list(map(lambda x:x.strip(),namesList.strip('][').replace("'","").split(','))))
names = list(map(lambda x:x.strip(),namesList.strip('][').replace("'","").split(',')))

In [14]:
print(f'need to make {len(names)} user profiles')

need to make 629 user profiles

In [15]:
import random

In [67]:
AllSkills = set()
for skills in mapDict.values():
    for skill in skills:
        AllSkills.add(skill.lower())
AllSkills = list(AllSkills)
print(f'Total skills - {len(AllSkills)}')

Total skills - 815

In [68]:
minSkillCount = 0
maxSkillCount = len(AllSkills)
minToSelect = 5
maxToSelect = 16
data = {}
for user in names:
    skillCntForThisUser = random.randint(minToSelect,maxToSelect)
    skillIndx = random.sample(range(minSkillCount,maxSkillCount),skillCntForThisUser)
    skillNames = []
    for index in skillIndx:
        skillNames.append(AllSkills[index])
    data[user] = skillNames
# print(data)

In [69]:
onehotMapping = []
for user in data.keys():
    userVector = []
    for skill in AllSkills:
        if(skill in data[user]):
            userVector.append(1)
        else:
            userVector.append(0)
    userVector.insert(0,user) #insert name at position 0
    onehotMapping.append(userVector)

In [74]:
columns = []
columns.extend(AllSkills)
columns.insert(0,'Name')
columns
df = pd.DataFrame(onehotMapping,columns=columns)
df.head()

,Name,ccna,hbase,microsoft airsim,rest,product strategy,grafana,dance,marketing strategy,adobe after effects,...,innovation management,global operations,web application security,web design,solidworks,kali linux,apache hive,comedian,xctest,automation
0,Mohit Loya,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Geervani Mehta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mayur Vaidya,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rajesh Chavan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Krishna Bhujbal,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
#To create skill - domain mapping
SkillDomainMap = []
AllDomains = mapDict.keys()

for skill in AllSkills:
    skillvector = []
    for domain in AllDomains:
        if(skill in mapDict[domain]):
            skillvector.append(1)
        else:
            skillvector.append(0)
    skillvector.insert(0,skill)
    SkillDomainMap.append(skillvector)

In [80]:
columns = []
columns.extend(AllDomains)
columns.insert(0,'Skillname')
df2 = pd.DataFrame(SkillDomainMap,columns=columns)
df2.head()

,Skillname,3D Modelling,AR,Arts,Automation,Backend,Blockchain,Business and Enterpreneurship,Business Intelligence,Competitive Programming,...,Software development,Software Engineering,Spoken Languages,Sports,Subject Knowledge,Testing/debugger,UI/UX,Web Crawling,Compiler Design,Research
0,ccna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,hbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,microsoft airsim,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,rest,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,product strategy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
file = open('Skills.txt','w')
for skill in AllSkills:
    file.write(skill + '\n')

In [95]:
# file = open('Domains.txt','w')
# for domain in AllDomains:
#     file.write(domain + '\n')
type(AllDomains)

dict_keys